// variables
// @import "./utils/normalize";
@import './utils/mixins';
@import './utils/vars';
@import './base/reset';

// common
@import './base/common';

// components
@import './components/titles';
@import './components/buttons';

// layout
@import './layout/header/header';
@import './layout/header/hero';
@import './layout/main/about';
@import './layout/main/prices';
