.hero {
  width: 100%;

  // height: 580px;
  // height: 100vh;

  // padding-left: 31px;
  // padding-top: 208px;
  // padding-right: 143px;

  padding-bottom: 189px;
  background-color: #303030;

  &__item + &__item {
    margin-top: 20px;
  }

  background-image: linear-gradient(
      to bottom (rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2))
    ),
    url(../img/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;

  .hero__container {
    max-width: 480px;
    padding-left: 31px;
    padding-right: 31px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__content {
  padding-left: 31px;
  padding-top: 208px;
  // padding-right: 143px;
}

.hero__pretitle {
  font-size: 11px;
  font-weight: 500;
  color: var(--hero-pretitle-color);
}

.hero__title {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.05em;
  color: var(--hero-title-color);
}

.hero__descr {
  max-width: 306px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: var(--hero-descr-color);
}
