//
.title {
   font-family: var(--second-font);
   font-weight: 700;
   letter-spacing: 0.05em;
}

.pretitle {
   font-size: 11px;
   font-weight: 600;
   letter-spacing: 0.1em;

   text-transform: uppercase;
   color: var(--prima-color);
}

.title {
   font-family: var(--second-font);
   font-weight: 700;
   font-size: 42px;
   letter-spacing: 0.05em;
   color: var(--prima-color);
}

.text--light {
   color: var(--color-light);
}

.text--lighten {
   color: var(--color-lighteh);
}

// .after-title {
//    font-size: 18px;
//    line-height: 1.67;
//    color: var(--second-color);
// }

// .features-title {
//    font-size: 16px;
//    line-height: 1.62;
//    letter-spacing: 0.02em;
//    color: var(--second-color);
// }

// .features-title--ligten {
//    color: var(--color-lighten);
// }

.section__descr {
   font-size: 14px;
   line-height: 1.86;
   letter-spacing: 0.02em;
   color: #555;
}
