//
// .title {
//    font-family: var(--second-font);
//    font-weight: 700;
//    letter-spacing: 0.05em;
// }

.pretitle {
   display: flex;
   align-items: center;
   font-size: 11px;
   line-height: 1.91;
   font-weight: 600;
   letter-spacing: 0.1em;

   text-transform: uppercase;
   color: var(--prima-color);

   &::before {
      content: '';
      width: 60px;
      height: 1px;
      margin-right: 20px;
      background-color: teal;
   }
}

.title {
   font-family: var(--second-font);
   font-weight: 700;
   font-size: 42px;
   letter-spacing: 0.05em;
   // color: var(--prima-color);
}

.title--white {
   color: var(--white-color);
}

.text--light {
   color: var(--color-light);
}

.text--lighten {
   color: var(--color-lighteh);
}

.section__descr {
   // font-size: 14px;
   line-height: 1.86;
   // letter-spacing: 0.02em;
   color: #555;
}
