//
.about__images {
   display: none;
}

.about__thumb {
   & + & {
      margin-top: 30px;
   }
}
.about__content {
   margin-bottom: 40px;
}

.about__subtitle {
   font-size: 28px;
   max-width: 352px;
}
