.avantages__after-title {
   font-weight: 400;
   font-size: 18px;
   line-height: 1.67;
   color: var(--second-color);
}

.avantages__list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}

.avantages__item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 193px;
   height: 168px;
   padding: 20px 24px;

   text-align: center;

   &:nth-child(2n) {
      margin-top: 30px;
   }

   background-color: var(--bg-accent-color);
}

.aventages__value {
   // margin: auto;
   margin-bottom: 6px;
   font-weight: 700;
   font-size: 42px;
   letter-spacing: 0.05em;
   text-align: center;
   // color: #303030;
}

.avantages__descr {
   // margin: auto;

   font-weight: 600;
   font-size: 11px;
   text-align: center;
   // color: #303030;
}
