//
.modal {
   position: relative;
   max-width: 480px;
   height: 796px;
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(25, 28, 38, 0.2);
}

.mob-menu {
   position: absolute;
   right: 0;
   top: 0;
   width: 337px;
   height: 100%;
   background-color: #fff;

   outline: 1px solid teal;
}

.mob-menu__wrap {
   padding-top: 48px;
   padding-right: 31px;
   padding-left: 40px;
}

.mob-menu__btn {
   display: inline-flex;
   margin-left: auto;
   width: 40px;
   height: 40px;

   outline: 1px solid teal;
}
