//
.prices {
   background-color: var(--darck-section-color);
   background-image: url(../img/prices-bg-mob.png);

   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.prices__subtitle {
   margin-bottom: 44px;
}

.prices__list {
   padding: 30px;
   margin-bottom: 50px;
   font-weight: 400;
   font-size: 14px;
   line-height: 2.14;
   letter-spacing: 0.02em;
   color: var(--color-lighten);
   // color: tomato;

   background-color: rgba(23, 26, 36, 0.2);
   outline: 1px solid tomato;
}

.prices__item {
   display: flex;
   justify-content: space-between;
}

// .prices__btn {
//    display: block;
//    margin-left: auto;
//    margin-right: auto;
// }
