//
.prices {
   background-color: var(--darck-section-color);
   background-image: url(../img/prices-bg-mob.png);

   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
