//
.team {
   background-color: var(--bg-accent-color);
}

.team * {
   // outline: 1px solid teal;
}

.card-set {
   display: flex;
   flex-direction: column;
   margin-top: -64px;
}

.cadr-set__item {
   margin-top: 64px;
}

.team-list__thumb {
   padding-bottom: 30px;
}

.member__descr {
   text-align: center;
   padding-bottom: 30px;
}

.member__name {
   margin-bottom: 8px;
   // font-weight: 400;
   font-size: 18px;
   // letter-spacing: 0.02em;
   // text-align: center;
   // color: #303030;
}

.member__position {
   color: var(--accent-color);
}

.membr__name {
   padding-bottom: 8px;
}

.member__social {
   display: flex;
   justify-content: center;
}

.social-list__item {
   & + & {
      margin-left: 10px;
   }
}

.social__link {
   display: inline-flex;
   width: 44px;
   height: 44px;
   border-radius: 50%;

   outline: 1px solid tomato;

   &:hover,
   &:focus {
      background-color: var(--accent-color);
   }
}
