body {
   font-family: var(--main-font);
   min-width: 240px;
   font-weight: 400;
   letter-spacing: 0.02em;

   // margin-left: auto;
   // margin-right: auto;
   background-color: #ffffff;
}

.section {
   max-width: 480px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 84px;
   padding-bottom: 84px;
}

.section__item {
   & + & {
      margin-top: 20px;
   }
}

.section__head {
   margin-bottom: 44px;
}

.container {
   max-width: 480px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 31px;
   padding-right: 31px;
}
