body {
   font-family: var(--main-font);
   min-width: 240px;
   // margin-left: auto;
   // margin-right: auto;
   background-color: #ffffff;
}

.section {
   padding-top: 84px;
   padding-bottom: 84px;
}

.section__item {
   & + & {
      margin-top: 20px;
   }
}

.container {
   max-width: 480px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 31px;
   padding-right: 31px;
}

.btn:hover {
   cursor: pointer;
}
