p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
}

ul,
ol {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   color: inherit;
   text-decoration: none;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

input {
   padding: 0;
}

button {
   display: inline-block;
   //  border: 1px solid transparent;
   //  border: none;
   outline: none;
   border: none;
   font-size: 100%;
   margin: 0;
   line-height: normal;
}
