:root {
   --hero-title-color: #ffffff;
   --prima-color: #303030;
   --second-color: #555555;
   --color-light: rgba(157, 164, 189, 0.6);
   --color-lighten: #9da4bd;

   // ===== FONTS
   --main-font: 'Open Sans', sans-serif;
   --accent-font: 'Raleway', sans-serif;
}
