:root {
   --hero-title-color: #ffffff;
   --pretitle-color-light: rgba(157, 164, 189, 0.6);
   --pretitle-color: #303030;
   --hero-descr-color: #9da4bd;

   // ===== FONTS
   --main-font: 'Open Sans', sans-serif;
   --accent-font: 'Raleway', sans-serif;
}
