:root {
   // ===== COLORS
   --white-color: #ffffff;
   --prima-color: #303030;
   --second-color: #555555;
   --accent-color: #ff6c00;
   --color-light: rgba(157, 164, 189, 0.6);
   --color-lighten: #9da4bd;
   --darck-section-color: #111319;

   //  button

   // ===== FONTS
   --main-font: 'Open Sans', sans-serif;
   --second-font: 'Raleway', sans-serif;
}
