:root {
  --hero-pretitle-color: rgba(157, 164, 189, 0.6);
  --hero-title-color: #ffffff;
  --hero-descr-color: #9da4bd;

  // ===== FONTS
  --main-font: "Open Sans", sans-serif;
  --accent-font: "Raleway", sans-serif;
}
